.github-issue {
  &__container {
    @include flex-col;
    justify-content: center;
    align-items: center;
    margin-top: 20%;

    @include md {
      margin-top: 5px;
      align-items: center;
    }
  }

  &__list {
    @include flex-col;
    max-width: 100%;
    margin-top: 4%;

    @include md {
      margin-top: 10%;
      width: 80%;
    }

    @include lg {
      width: 50%;
    }
  }

  &__list-divider {
    width: 60% !important;
    max-width: 100%;
  }

  &__back-link {
    cursor: pointer;
    height: 40px;
    width: 40px;
    border: none;
    background: $light-grey;
    margin-bottom: 4%;

    &:hover {
      background: $dark-grey;
      color: $white;
    }
  }

  &__title {
    margin-bottom: 6px;
    font-size: $font-size-14;

    @include lg {
      font-size: $font-size-20
    }
  }

  &__number {
    color: #878f99;
  }

  &__open-wrapper {
    width: 100%;
    @include flex-row;
    align-items: center;
    margin-bottom: 12px;
  }

  &__open {
    color: $white;
    background: $green;
    @include flex-row;
    align-items: center;
    width: 70px;
    height: 20px;
    padding: 5px;
    justify-content: center;
    border-radius: 50px;
  }

  &__open-icon {
    @include flex-row;
    align-items: center;
    word-break: break-all;
    font-size: $font-size-16;
  }

  &__issues-query {
    font-weight: bold;
    font-style: italic;
    font-size: $font-size-14;
    padding-left: 6px;
  }

  &__card {
    width: 88%;
    max-width: 100%;

    @include md {
      width: 94%;
    }

    @include lg {
      width: 94%;
    }
  }

  &__card-wrapper {
    @include flex-row;
    margin-top: 30px;
    width: 100%;
    max-width: 100%;
    justify-content: space-between;
  }

  &__reporter-image {
    width: 30px;
    height: 30px;
    border-radius: 50px;

    @include lg {
      width: 40px;
      height: 40px;
    }
  }

  &__body {
    height:fit-content;
    padding: 20px
  }
}