.github-issue {
  &__container {
    @include flex-col;
    justify-content: center;
    align-items: center;
    margin-top: 20%;

    @include md {
      margin-top: 5px;
      align-items: center;
    }
  }
}